/* About.css */
.about-container {
  width: 100vw - 1rem; /* Default width for mobile */
  margin-left: auto;
  margin-bottom: auto;
  border: 1px solid #7dbaa2;
  padding: 1rem;
  background-color: #fcf9f9;
}
